<%- model_class = Code.new.class -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:package) %></th>
      <th><%= model_class.human_attribute_name(:version) %></th>
      <th><%= model_class.human_attribute_name(:file_path) %></th>
      <th><%= model_class.human_attribute_name(:file) %></th>
      <th><%= model_class.human_attribute_name(:language) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
    </tr>
  </thead>
  <tbody>
    <% @codes.each do |code| %>
      <tr>
        <td><%= link_to code.id, code_path(code) %></td>
        <td><%= code.package %></td>
        <td><%= code.version %></td>
        <td><%= code.file_path %></td>
        <td><%= code.file %></td>
        <td><%= code.language %></td>
        <td><%= code.code %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(@codes, :renderer => WillPaginate::ActionView::LinkRenderer) %>
