<%- model_class = @code.class -%>

<div class="page-header">
  <h2><%= @code.file %><small> <%= @code.file_path %></small></h2>
</div>

  <div class="row-fluid">  
  <div class="span9"> 

  <%= model_class.human_attribute_name(:package) %>: 
  <%= link_to @code.package, "http://bioconductor.jp/packages/2.11/bioc/html/#{@code.package}.html" %> -
  <%= model_class.human_attribute_name(:version) %>: 
  <%= @code.version %> - 
  <%= model_class.human_attribute_name(:language) %>: 
  <%= @code.language %>

<% cache do %>
  <%== Pygments.highlight(CGI.unescapeHTML(@code.code)) %>
<% end %>

</div>

<div class="span3">                                                                               
<div class="well sidebar-nav">
<h3>Links</h3>
<ul>
  <li><%= link_to "Offical Package Page", "http://bioconductor.jp/packages/2.11/bioc/html/#{@code.package}.html" %>
  <li><%= link_to "Download stats", "http://bioconductor.org/packages/stats/bioc/#{@code.package}.html" %>
  <li><%= link_to "Offical SVN", "https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks/#{@code.file_path}/"
%>
</ul>  
</div>
<div class="well sidebar-nav">                                                                  
  <h3>More Like This</h3>                                                                             
<% package = nil %>
<% Sunspot.more_like_this(@code).results.each do |result| %>
  <% if result.package != package %>
    <% if package != nil %>
      </ul>
    <% end %>

    <% package = result.package %>
    <h4><%= package %></h4>
    <ul class="nav nav-list">

  <% else %>
  <% end %>
    <li><%= link_to result.file, code_path(result) %>

<% end %>
</ul>

</div><!--/.well -->
</div><!--/span3-->
</div><!--/row-->

</div><!--/span12-->
</div><!--/row-->
